@import "tailwindcss";

@theme {
  --spacing: 1px;
  --spacing-spc: clamp(3.125rem, 2.5rem + 3.125vw, 6.25rem);
  /* 50 - 100 */

  --breakpoint-*: initial;

  --breakpoint-xsm: 450px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1680px;

  --font-open: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-oswald: "Oswald", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;

  --color-black: #0E0E0E;
  --color-orange: #FF4900;
  --color-gray: #474747;
  --color-off-white: #D9D9D9;

  --text-h1: clamp(3.125rem, -1.1719rem + 13.75vw, 6.5625rem);
  /* 50-105 */
  --text-h1--line-height: clamp(3.75rem, -0.9375rem + 15vw, 7.5rem);
  /* 60 - 120 */

  --text-h2: clamp(2.8125rem, 2.225rem + 2.9375vw, 5.75rem);
  /* 45-92 */
  --text-h2--line-height: clamp(3.125rem, 2.375rem + 3.75vw, 6.875rem);

  --text-h3: clamp(1.625rem, 0.8438rem + 2.5vw, 2.25rem);
  /* 26-36 */
  --text-h3--line-height: clamp(2.125rem, 1.3438rem + 2.5vw, 2.75rem);
  /*34-44*/

  --text-h4: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  /* 16-24*/
  --text-h4--line-height: clamp(1.5rem, 0.5625rem + 3vw, 2.25rem);
  /* 24-36 */

  --text-h5: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
  /* 15-20 */
  --text-h5--line-height: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
  /* 20-30 */

  --text-76: clamp(2.5rem, 2.05rem + 2.25vw, 4.75rem);
  /* 40-76 */
  --text-76--line-height: clamp(3.125rem, 2.625rem + 2.5vw, 5.625rem);
  /* 50-90 */

  /* --shadow-1: 0px 3px 6px rgba(0, 0, 0, 0.16); */
}

:root {
  --focus-outline-color: currentColor;
  --focus-outline-offset: 0.1rem;
  --focus-outline-style: solid;
  --focus-outline-width: 2px;
}

*:focus-visible {
  outline-color: var(--focus-outline-color);
  outline-offset: var(--focus-outline-offset);
  outline-style: var(--focus-outline-style);
  outline-width: var(--focus-outline-width);
}

@layer {

  html {
    @apply scroll-smooth
  }

  body {
    @apply font-oswald text-black text-h4
  }

  button {
    @apply cursor-pointer
  }

  .container {
    @apply mx-auto px-16
  }

  a, span {
    @apply inline-block
  }

  .text {
    @apply space-y-8 xl:space-y-16
  }

  ::-webkit-scrollbar {
    @apply w-8
  }

  ::-webkit-scrollbar-track {
    @apply bg-black
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-orange
  }

  input, textarea {
    @apply accent-orange border border-off-white 3xl:text-xl py-7 px-16 w-full placeholder:text-gray
  }

  label {
    @apply block mb-4 xl:mb-8
  }

  form button {
    @apply w-full text-xl sm:mt-16 xl:mt-32 border border-orange bg-orange text-white py-12 px-32 transition-all duration-300 hover:bg-black hover:border-white
  }

  .gradient_1 {
    background: #000;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }

  .link.active {
    @apply text-orange
  }

  .link {
    @apply relative transition-all duration-300
  }

  .link::after {
    @apply content-[''] absolute inset-0 w-0 transition-all border-b duration-300
  }

  .link:hover::after {
    @apply w-full
  }

  .btn1 {
    @apply border border-orange bg-orange text-white py-12 px-32 transition-all duration-300 hover:bg-black hover:border-white
  }

  .btn2 {
    @apply border text-white py-12 px-32 transition-all duration-300 hover:bg-orange hover:border-orange
  }

  .marquee {
    mask: linear-gradient(90deg,
        transparent,
        white 20%,
        white 80%,
        transparent);
  }

  .marquee:hover .group {
    animation-play-state: paused;
  }

  .group {
    animation: marquee 50s linear infinite;
  }

  .marquee.second .group {
    animation-direction: reverse;
  }

  @keyframes marquee {
    from {
      translate: 0;
    }

    to {
      translate: -100%;
    }
  }

  .swiper-button-disabled {
    @apply !opacity-0
  }

  footer .link {
    @apply hover:text-orange transition-all duration-300
  }

  .fixed_header {
    @apply bg-black fixed
  }

  .fixed_header .logo_img {
    @apply w-150
  }

  .fixed_header .row {
    @apply items-center
  }
}